.modal {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 110, 0, 0.2);
}

.modal main {
  background-color: rgba(229, 110, 0);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal button.modal-close {
  float: left;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}